
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.cover-container {
    max-width: 42em;
}

body{
    background-color: beige;
}

.raj_fontsize {
    font-size: 1rem;
  }

  @media (min-width: 1000px) {
    .raj_fontsize {
      font-size: 1.5rem;
    }
  }